---
- name: Initial Common Setup
  hosts: fedora_ws_vm
  become: no

  vars:
    user_env_vars_dir: '~/.bashrc.d/env_vars'
    user_bin_dir: '~/.local/bin'

  tasks:
    - name: Create a folder for app installations.
      ansible.builtin.file:
        path: '~/.installations'
        state: 'directory'

    - name: Create a folder for app binaries.
      ansible.builtin.file:
        path: "{{ user_bin_dir }}"
        state: 'directory'

    - name: Create a folder for user settings.
      ansible.builtin.file:
        path: '~/.bashrc.d'
        state: 'directory'

    - name: Create a file for user env vars.
      ansible.builtin.file:
        path: "{{ user_env_vars_dir }}"
        state: 'touch'

    - name: Add app binaries folder to the PATH.
      ansible.builtin.lineinfile:
        path: "{{ user_env_vars_dir }}"
        state: 'present'
        line: "export PATH=$PATH:{{ user_bin_dir }}"
        insertafter: EOF



