---
- name: Common Tools Setup
  hosts: fedora_ws_vm
  become: yes
  vars:
    flatpak_apps:
      browser: "app.zen_browser.zen"

  tasks:
    - name: Installing the browser.
      community.general.flatpak:
        name: "{{ flatpak_apps.browser }}"
        state: present
        remote: "flathub"
        method: system

