---
dependency:
  name: galaxy

driver:
  name: podman

lint:
  set -e
  yamllint .
  ansible-lint

platforms:
  - name: fedora-desktop-test-node
    image: registry.fedoraproject.org/fedora:42
    # command: "/usr/sbin/init" (in order to simulate systemd)
    privileged: true
    pre_build_image: true

provisioner:
  name: ansible

verifier:
  name: ansible

scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy